includeConfig '../nextflow_special_pipelines.base.docker.config'

params {
    // must set
    // bed6File =''
    // if remain unset - it will be inside the work dir
    disjounted_bed_dir = ''
    // standard params
    which_disjoint_script = "${params.special_pipelines_dir}/Resources/scripts-dsRNA/Pipelines/disjoint_bed_records.py"
    which_python_39 = 'python3'
    which_disjoint_script_command = "$params.which_python_39 $params.which_disjoint_script"
}