includeConfig '../nextflow_special_pipelines.base.docker.config'
includeConfig "./editing_index_pooled_regions.nf.docker.config"
includeConfig "./disjoint_bed.nf.docker.config"

params {    
    // if to run disjoint on the bed file
    // use this option when you have ovrellaping regions on the same strand
    run_disjoint = false
    read_regions_command = 'cat'
    PMpool_bed6_file =''
    bams_dir = ''
    PMpooledEI_result_dir = "${launchDir}/pooled_EditingIndex_byStrand"
}

process {
    withName:create_dirs_split_files{
        container = 'staphb/bedtools:2.31.1'
    }
}

    
    
