includeConfig '../nextflow_special_pipelines.base.docker.config'
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/SubP_configs/editing_index.nf.docker.config"
includeConfig "./disjoint_bed.nf.docker.config"

params {
    // for runinng alone (not as module)
    result_dir="${launchDir}/Editing_index/"
    bams_dir=''

    // if to run disjoint on the bed file
    // use this option when you have ovrellaping regions on the same strand
    run_disjoint = false
    // there will be directory of all the plus and directory for the minus results
    // if to keep them or delete them after combining all the results
    keep_PMfiles = false
    read_regions_command = 'cat'
    read_refseq_command = 'cat'
    //EI resources
    PMEI_refseqfile =''
    PMEI_bed6file = ''
// !!! remeber to set your profile for othe params for editing_index.nf.docker.config
// index run params: 
    PMkeep_cmpileup=false
    PMbams_suffix='.Aligned.sortedByCoord.out.bam'
    
    PMsnp_file=''
    // index will run only on path that contain that string -
    PMmust_contain=''
    which_python_39 = 'python3'
    which_calculateEI_script = "${params.special_pipelines_dir}/Resources/scripts-dsRNA/Pipelines/calculate_EI.py"
    which_calculateEI_command = "$params.which_python_39 $params.which_calculateEI_script"
}

process {
    withName:split_refseq{
        container = 'staphb/bedtools:2.31.1'
    }
    withName:split_regions{
        container = 'staphb/bedtools:2.31.1'
    }
}
