includeConfig '../nextflow_special_pipelines.base.docker.config'
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/SubP_configs/cmpileup.nf.docker.config"

params {
    pooledEI_result_dir = "$launchDir/PooledEditingIndex"
    // group file - if you want the results to be for groups of samples (control/condition etc..)
    // if you want your result for every sample seperatly, you should leave this as empty string
    group_file_csv=''
    
    // RID_file or bed6 file is required (you dont need both)
    RID_or_bed6_file=''
    // bed6 file is the defualt -
    // file for map region to pool(gene name etc..)
    // column 4 must be pool name (gene name etc..) !!!
    // if U wish to use RID file - set to true
    use_RID_file=false
    
    // RID file:
    // region -> id file that map evey regoin to a group id (have no relation to the group_file above) containig: 
    //1.two columns header(content does not matter)
    //2. in every line: a. Region (chr:start-end), b. group id (like gene-name)
    
    //in case of including dynamic pipline set to true:
    dynamic_regions = false

    pool_CMP_max_parallell = 10
    which_python_39 = 'python3'
    which_pooling_script = "${params.special_pipelines_dir}/Resources/scripts-dsRNA/Pipelines/pool_RNA_editing_index.py"
    which_pooling_script_command = "$params.which_python_39 $params.which_pooling_script sites"
    which_createRID_command = "Rscript ${params.special_pipelines_dir}/Resources/scripts-dsRNA/RID_creator.R"
}


profiles{
    hg38 {
        params.profile_selected = "hg38"       
        params.pooledEI_snps_file = "ReplaceSNPPATH/HomoSapiens/ucscHg38CommonGenomicSNPs150.bed.gz"

    }
    mm10 {
        params.profile_selected = "mm10"
        params.pooledEI_snps_file = "ReplaceSNPPATH/MusMusculus/ucscMM10CommonGenomicSNPs142.bed.gz"
    }
    standard {
        params.profile_selected = ""
        params.pooledEI_snps_file = ""

    }
}


// process {
//     withName:pool_regions_index{
//         container = 'frolvlad/alpine-bash:latest'
//     }
// }