includeConfig '../nextflow_special_pipelines.base.docker.config'


params.SalmonTE_config = true


params{
    // input fastq dir
    indir=''
    //  where the results will be
    salmonTE_outdir="${launchDir}/salmonTE/"
    // quant params
    STE_threads='20'
    STE_organism='hs' // hs/mm/dm/dr ->././Danio rerio/Drosophila melanogaster
    salmonTE_extra_params=''
    salmonTE_quant_params = "--reference=$params.STE_organism --num_threads=${params.STE_threads} $params.salmonTE_extra_params" 

    // if you want to run quant and test:
    test_step = false
    // to run test without quant - in that case you should give quant_dir
    test_step_only = false
    quant_dir = ''
    // test params:
    // in any case of runing test you need conditions file
    // this is CSV contaning the fields filename,condition(no header)
    // filename - without suffx, in paried end - one row for both files without file number suffix
    // you must have exactly 2 conditions
    // your first condition after sort will account as control in the DE analysis if you will not set a one
    control_condition=''
    conditions_file ='' 
    STE_tableType='csv'

    // you can set in additional
    //analysis_type=LM dosnt work duo to docker problems
    // --figtype= --analysis_type=
    STE_test_additional = ''

}

process {
    withName:SALMONTE_QUANT {
    container = 'ftabaro/salmonte:latest'
    containerOptions = "-u root"
    }
    withName:SALMONTE_TEST {
        container = 'ftabaro/salmonte:latest'
    }
}

