includeConfig './SubP_configs/sra_download.nf.docker.config'
includeConfig './SubP_configs/quality_check.nf.docker.config'
includeConfig './SubP_configs/fastp.old.nf.docker.config'
includeConfig './SubP_configs/fastp.new.nf.docker.config'

includeConfig './SubP_configs/compress_fastqs.nf.docker.config'
includeConfig './SubP_configs/combine_waiting.nf.docker.config'

includeConfig 'nextflow.base.dockers.config'



params {
    // directory for your pipeline outputs. if wont set, it wil be $PWD
    project_dir="$launchDir"
    params.singleEnd=false

    // flag for choosing to downlad the files from the sra,
    // if set to false, you should set params.ACC_list file with accessions list 
    // if set to true, you should set params.indir for finding fasta files 
    use_existing_fastq=false
    // directory containing fastq files >> use if use_existing_fastq was set to true <<
    fastq_indir=''
    //optional prameters depend to combine with indir:
    fastq_suffix='fastq'
    mates_patt="_{1,2}"
    fastq_pat="${params.fastq_indir}/*${params.mates_patt}.${params.fastq_suffix}"

    /** pathes params  **/
    /** pathes params  **/
    raw_data_dir="${params.project_dir}/Raw_data"
    orig_fq_dir="${params.raw_data_dir}/Orig_fq"
    QC_dir="${params.raw_data_dir}/QC"
    preproc_fastq_dir="${params.raw_data_dir}/Fastp_out_fastqs"
    results_dir="${params.project_dir}/Results"


    /** optional steps  **/
    params.compress_original_fastq = true
    remove_original_fastq = false

}

workDir = "${params.project_dir}/work"


// project_dir_dirnname = (new File(params.project_dir)).parentFile

process {
    withName:make_project_dirs {
        container = 'frolvlad/alpine-bash:latest'
        // containerOptions = "--volume ${project_dir_dirnname}:${project_dir_dirnname}"
    }
    withName:rm_fastqs {
        container = 'frolvlad/alpine-bash:latest'
        // containerOptions = "--volume ${project_dir_dirnname}:${project_dir_dirnname}"
    }
}




