includeConfig './nextflow.base.dockers.config'
includeConfig './downloadAndPreprocess.nf.docker.config'
includeConfig './analizeEditing_on_cleanData.nf.docker.config'

params {
    // directory for your pipeline files and results, if wont set it wil be $PWD
    project_dir="$launchDir"

    // flag for choosing to downlad the files from the sra,
    // if set to false, you should set params.ACC_list file with accessions list 
    // if set to true, you should set params.indir for finding fasta files 
    use_existing_fastq=false
    // directory containing fastq files >> use if use_existing_fastq was set to true <<
    fastq_indir=''
    //optional prameters depend to combine with indir:
    fastq_suffix='fastq'
    mates_patt="_{1,2}"
    fastq_pat="${params.fastq_indir}/*${params.mates_patt}.${params.fastq_suffix}"
}

workDir = "${params.project_dir}/work"
