params.help=false
params.have_base_config=true
/***********************************************************************

                Nextflow dockers base config

**************************************************************************/

docker {
    enabled = true
    docker.runOptions='-u $(id -u):$(id -g)'
}

params.docker_run = true
params.levanon_lab_pipelines_dir = "REPLACE_PATH/RNA_Editing_Pipeline"
// when Nextflow process have path in the input its not accepting empty string - so I will give him this path instead
params.EmptyPath = '/dev/null'



process {
    errorStrategy = 'ignore' 
}


executor {
    $local {
        queueSize = 10
  }
}


