params {
    singleEnd = false
    // prarams for finding the input fastq
    indir=''
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"
    // where the out fastqs will be
    fastp_fastqs_outdir="${launchDir}/fastq_dedup/"
    // determind where the fastp-QC file will be
    qc_dir="${launchDir}/QC_Fastp/"
    // path to fastp program
    // fastp params
    fastp_dedup_params='--dedup --dup_calc_accuracy 6'
    fastp_disable_filtering_params='--disable_quality_filtering --disable_length_filtering --disable_trim_poly_g --disable_adapter_trimming'
    fastp_extra_params=''
    fastp_params = "$fastp_dedup_params $fastp_disable_filtering_params $params.fastp_extra_params"


    which_fastp="fastp"
}





qc_dirname = (new File("${params.qc_dir}")).parentFile
out_fastq_dirname = (new File(params.fastp_fastqs_outdir)).parentFile

process {
    withName:FASTP{
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
        containerOptions = "--volume ${qc_dirname}:${qc_dirname} --volume ${out_fastq_dirname}:${out_fastq_dirname}"
    }
}

includeConfig '../nextflow.base.dockers.config'
