


params {
    singleEnd = false
    // prarams for finding the input fastq
    indir=''
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"
    // where the out fastqs will be
    fastp_fastqs_outdir="${launchDir}/Fastp_out_fastqs/"
    // determind where the fastp-QC file will be
    qc_dir="${launchDir}/QC_Fastp/"
    // >>>>>> fastp params
        // if you set fastp_filter_to_length to number -
        // note that in case of fastp_filter_to_length ='', it will filter reads<15bp, you can disable it with --disable_length_filtering
        fastp_filter_to_length = ''
        // if filter to length was set to number:
        // length trimming: trim reads with len > (params.fastp_filter_to_length+5), to (params.fastp_filter_to_length+5)
        // and length filtering - will filter reads with len < fastp_filter_to_length-10
        fastp_length_params = params.fastp_filter_to_length ? " --max_len1 \$(($params.fastp_filter_to_length)) --length_required \$(($params.fastp_filter_to_length-10))" : ''
        //trim edges
        // choose how many bases to trim from front and tail
        trim_basesF=0
        trim_basesT=0


        // in defualt there will be no deduplication
        fastp_dedup = false
        fastp_dedup_params = params.fastp_dedup ? ' --dedup --dup_calc_accuracy 6' : ''
        // if dont dedup so dont eval to save time
        dont_eval = params.fastp_dedup ? "" : "--dont_eval_duplication"
        // > quality filtering
        filter_quality = true
        dont_filter_quality = params.filter_quality ? "" : "--dont_filter_quality"
        // quality filtering: N bases per read <= 5
        // quality filtering: average quality per read >= 30
        // quality filtering: % of low-quality bases per read <= 20
        // quality filtering: low quality per base <= 25
        fastp_quality_params= params.filter_quality ? " -n 5 -q 25 -u 20 -e 30" : ""
        fastp_extra_params= ''
        
        fastp_disable_params = " --disable_trim_poly_g --disable_adapter_trimming $params.dont_eval $params.dont_filter_quality"
        fastp_params_temp = "$params.fastp_quality_params $params.fastp_dedup_params $params.fastp_length_params $params.fastp_disable_params -f $params.trim_basesF -t $params.trim_basesT $params.fastp_extra_params"
        fastp_params = params.singleEnd ? params.fastp_params_temp : "$fastp_params_temp -T $params.trim_basesT -F $params.trim_basesF"


    which_fastp="fastp"
}

// qc_dirname = (new File("${params.qc_dir}")).parentFile
// out_fastq_dirname = (new File(params.fastp_fastqs_outdir)).parentFile

process {
    withName:FASTP{
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2'
        // containerOptions = "--volume ${qc_dirname}:${qc_dirname} --volume ${out_fastq_dirname}:${out_fastq_dirname}"
    }
}

includeConfig '../nextflow.base.dockers.config'
