includeConfig '../nextflow.base.dockers.config'


params{
    
    singleEnd=false
    // ################### 
    // prarams for finding the input fastq
    indir=''
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"
    salmon_outdir="${launchDir}/SALMON"

    //prams of salmon index
    salmon_lib_type = 'A'

    //other run params
    // salmon output the result of every sample in differet dir, if wil set to true it will move the result all the files(.sf) to an shared dir 
    move_out_salmon_files = true
    // if you set move_out_salmon_files-true, remove the not .sf files
    keep_other_files = false
    // 
    copy_instead_of_move = false
    salmon_max_workers=5
    salmon_threads = 5
    extra_params = ''
    run_salmon_summary=true

    which_salmon='salmon'
    which_salmon_summary="Rscript ${params.levanon_lab_pipelines_dir}/Resources/roni_uniteSalmonFIles.R"

}

profiles{
    hg38 {
        params.profile_selected = "hg38"
        params.transcripts_index = "/private/dropbox/Salmon_1.10.2/salmon_index/hg38"
        params.tx2id_geneMap = "/private/dropbox/Salmon_1.10.2/salmon_index/hg38/ucscHg38RefSeqCurated.tsv"
        // old version - maybe add flag for it?
        // params.transcripts_index = '/private/dropbox/Salmon_1.4.0/salmon_index/hg38'
        // params.tx2id_geneMap = '/private/dropbox/Salmon_1.4.0/salmon_index/hg38/gencode_v32.transcriptToGeneID.tab'
    }
    mm10 {
        params.profile_selected = "mm10"
        params.transcripts_index = "/private/dropbox/Salmon_1.10.2/salmon_index/mm10/"
        params.tx2id_geneMap = "/private/dropbox/Salmon_1.10.2/salmon_index/mm10/ucscMM10RefSeqCurated.tsv"
        // old version - maybe add flag for it?
        // params.transcripts_index = '/private/dropbox/Salmon_1.4.0/salmon_index/mm10'
        // params.tx2id_geneMap = '/private/dropbox/Salmon_1.4.0/salmon_index/mm10/gencode_VM23.transcriptToGeneID.tab'
    }
    standard {
        params.profile_selected = ""
    }
}

// salmon_outdir_dirname =  (new File(params.salmon_outdir)).parentFile
// transcripts_index_dirname =  (new File(params.transcripts_index)).parentFile
// tx2id_geneMap_dirname =  (new File(params.tx2id_geneMap)).parentFile
process {
    withName:CREATE_OUT_DIR{
        container = 'frolvlad/alpine-bash:latest'
        // containerOptions = "--volume ${salmon_outdir_dirname}:${salmon_outdir_dirname}"
    }
    withName:SALMON_QUANT{
        container = 'combinelab/salmon:1.10.2'
        // container = 'quay.io/biocontainers/salmon:1.10.2--hecfa306_0'
        // old version - maybe add flag for it?
        // container = 'combinelab/salmon:1.4.0'
        // containerOptions = "--volume ${salmon_outdir_dirname}:${salmon_outdir_dirname} --volume ${transcripts_index_dirname}:${transcripts_index_dirname} --volume ${tx2id_geneMap_dirname}:${tx2id_geneMap_dirname}"
    }
}

