
includeConfig 'nextflow.base.dockers.config'
includeConfig './SubP_configs/salmon.nf.docker.config'
includeConfig './SubP_configs/star.nf.docker.config'
includeConfig './SubP_configs/editing_index.nf.docker.config'
includeConfig './SubP_configs/combine_waiting.nf.docker.config'
includeConfig './SubP_configs/compress_fastqs.nf.docker.config'
includeConfig './SubP_configs/cmpileup.nf.docker.config'

params{
    // directory for your pipeline outputs. if wont set, it wil be $PWD
    project_dir="$launchDir"
    singleEnd=false
    // input dir of fastq's or bams dirs
    indir=''
    //optional prameters depend to combine with indir:
    fastq_suffix='fastq'
    mates_patt="_{1,2}"
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"

    // if you want to run on existing bams and skipp alignment
    bams_as_input = false
    bams_patt = "SRR*"
    bams_full_patt = "${params.indir}/${params.bams_patt}"
    /** pathes params  **/
    raw_data_dir="${params.project_dir}/Raw_data"
    star_dir="${params.raw_data_dir}/STAR"
    results_dir="${params.project_dir}/Results"
    salmon_dir="${params.results_dir}/Salmon"
    editing_index_dir="${params.results_dir}/Editing_index"
    AEI_dir="${params.editing_index_dir}/AEI"
    EI3UTR_dir="${params.editing_index_dir}/3UTREI"
    known_dir="${params.results_dir}/Known"


    project_dir="$launchDir"
    fastqs_dir="${params.project_dir}/Raw_data/Fastq_dedups"

    run_salmon=true
    run_AEI=true
    run_3UTR=true
    compress_fastqs=true

    // alu editing index results dir
    // Eindex_result_dir="${params.results_dir}/Editing_Index/AEI"


}

profiles{
    hg38 {
        params.profile_selected = "hg38"
        params.UTR3_regions="${params.levanon_lab_pipelines_dir}/Resources/Editing_index/3UTR/hg38.Alu3pUTR_minLen200_17022021.InvertedRepeatsIn3pUTR.sorted.merged.bed.gz"
    }
    mm10 {
        params.profile_selected = "mm10"
        params.UTR3_regions="${params.levanon_lab_pipelines_dir}/Resources/Editing_index/3UTR/mm10.AluB1AndB2_3pUTR_minLen120_17022021.RepeatsInOppositeOrientationAtRegions.sorted.merged.bed.gz"
    }
    standard {
        params.profile_selected = ""
    }
} 

params.run_known = (params.profile_selected == "hg38") ? true : false



workDir = "${params.project_dir}/work"


process {
    withName:make_project_dirs {
        container = 'frolvlad/alpine-bash:latest'
        // containerOptions = "--volume ${project_dir_dirnname}:${project_dir_dirnname}"
    }
}