includeConfig './nextflow_special_pipelines.base.docker.config'
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/downloadAndPreprocess.nf.docker.config"
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/analizeEditing_on_cleanData.nf.docker.config"
includeConfig "./SubP_configs/salmonTE.nf.docker.config"
includeConfig "./SubP_configs/editing_index_plusMinus.nf.docker.config"
includeConfig "./SubP_configs/editing_index_pooled_regions_plusMinus.nf.docker.config"


params {
    // directory for your pipeline files and results, if wont set it wil be $PWD
    project_dir="$launchDir"

    // if to compress (using gzip) the fastqs after the analysis finished
    compress_fastqs_after_analysis = true

    // if you want to skip first steps
    debug_kzf_pipeline=false
    // flag for choosing to downlad the files from the sra,
    // if set to false, you should set srrACC_list file with accessions list 
    // if set to true, you should set indir for finding fasta files 
    use_existing_fastq=false
    // directory containing fastq files >> use if use_existing_fastq was set to true <<
    fastq_indir=''
    //optional prameters depend to combine with indir:
    fastq_suffix='fastq'
    mates_patt="_{1,2}"
    fastq_pat="${params.fastq_indir}/*${params.mates_patt}.${params.fastq_suffix}"


    SalmonTE_result_dir = "${params.results_dir}/SalmonTE"
    
    //-------------------------------------> KZF tx EI params

    // run all all to get total EI:
    KZF_tx_EI_bed6Regions = "${params.special_pipelines_dir}/Resources/KZFs/Tx/KRABs_locations.gencode.bed6.bed"
    KZF_tx_EI_dir="${params.editing_index_dir}/KZF_tx_EI"
    // for the disjointed run
    // we will use out dir same as KZF_tx_EI_dir
    KZF_tx_EI_perGene_dir="${params.editing_index_dir}/KZF_tx_EI_perGene"
    // KZF that contains editing sites in orshai list params
    KZF_contains_OrsahiSites_tx_regions = "${params.special_pipelines_dir}/Resources/KZFs/Tx/KRABs_containing_OrshaiSites_locations.gencode.bed6.bed"
    KZF_contains_OrsahiSites_tx_EI_dir = "${params.editing_index_dir}/KZF_contains_OrsahiSites_tx_EI"
    // KZF that have editing sites>10 in orshai list params
    KZF_enriched_OrsahiSites_tx_regions = "${params.special_pipelines_dir}/Resources/KZFs/Tx/KRABs_enriched_OrshaiSites_locations.gencode.bed6.bed"
    KZF_enriched_OrsahiSites_tx_EI_dir = "${params.editing_index_dir}/KZF_EnrichedWith_OrsahiSites_tx_EI"
    
    // KZF that have inverted neighbor KZF params
    KZF_inveterd_tx_regions = "${params.special_pipelines_dir}/Resources/KZFs/Tx/inverted_KRABS_locations.gencode.bed6.bed"
    KZF_inveterd_tx_EI_dir = "${params.editing_index_dir}/KZF_inveterd_tx_EI"

    // ------------------------------------------------>KZF Exones EditingIndex
    KZF_exons_EI_bed6Regions = "${params.special_pipelines_dir}/Resources/KZFs/Exons/KZFs_exones.gencode.bed6.bed"
    // total exons EI
    KZF_exons_EI_dir="${params.editing_index_dir}/KZF_exons_EI"
    // for the pooledEI run
    KZF_exons_pooledEI_dir="${params.editing_index_dir}/KZF_exons_pooledEI"
    // KZF that contains editing sites in orshai list 
    KZF_contains_OrsahiSites_exons_regions = "${params.special_pipelines_dir}/Resources/KZFs/Exons/KRABs_exons_containing_OrshaiSites.gencode.bed6.bed"
    KZF_contains_OrsahiSites_exons_EI_dir = "${params.editing_index_dir}/KZF_contains_OrsahiSites_exons_EI"
    // KZF that contains editing sites in orshai list > 10 
    KZF_enriched_OrsahiSites_exons_regions = "${params.special_pipelines_dir}/Resources/KZFs/Exons/KRABs_exons_enriched_OrshaiSites_locations.gencode.bed6.bed"
    KZF_enriched_OrsahiSites_exons_EI_dir = "${params.editing_index_dir}/KZF_enriched_OrsahiSites_exons_EI"

    // KZF that have inverted neighbor KZF params
    KZF_inveterd_exons_regions = "${params.special_pipelines_dir}/Resources/KZFs/Exons/inverted_KRABS_exons.gencode.bed6.bed"
    KZF_inveterd_exons_EI_dir = "${params.editing_index_dir}/KZF_inveterd_exons_EI"

    // // ------------------------------------------------>KZF CDS EditingIndex
    KZF_CDS_EI_bed6Regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/KZFs_CDS.gencode.bed6.bed"
    // total CDS
    KZF_CDS_EI_dir = "${params.editing_index_dir}/EI_KZFs_CDS"
    // per gene
    KZF_CDS_pooledEI_dir="${params.editing_index_dir}/KZF_CDS_pooledEI"


    // KZF that contains editing sites in orshai list
    KZF_contains_OrsahiSites_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/KRABs_CDS_containing_OrshaiSites.gencode.bed6.bed"
    KZF_contains_OrsahiSites_CDS_EI_dir = "${params.editing_index_dir}/KZF_contains_OrsahiSites_CDS_EI"

    // KZF that contains editing sites in orshai list > 10  (enriched)
    KZF_enriched_OrsahiSites_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/KRABs_CDS_enriched_OrshaiSites_locations.gencode.bed6.bed"
    KZF_enriched_OrsahiSites_CDS_EI_dir = "${params.editing_index_dir}/KZF_enriched_OrsahiSites_CDS_EI"


    // KZF that have inverted neighbor KZF params
    KZF_inveterd_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/inverted_KRABS_CDS.gencode.bed6.bed"
    KZF_inveterd_CDS_EI_dir = "${params.editing_index_dir}/KZF_inveterd_CDS_EI"

    // // ------------------------------------------------> Orshai sites in KZFs' CDS EditingIndex
    KZF_OrshaiInCDS_EI_bed6Regions = "${params.special_pipelines_dir}/Resources/KZFs/OrshaiSites_inKZFsCDS.gencode.bed6.bed"
    // total  EI
    KZF_OrshaiInCDS_EI_dir = "${params.editing_index_dir}/EI_KZFs_OrshaiInCDS"
    // per gene
    KZF_OrshaiInCDS_pooledEI_dir="${params.editing_index_dir}/KZF_OrshaiInCDS_pooledEI"

    // // ------------------------------------------------> check CDS signal by random control genes

    controlA_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/Control/human_random400Genes_CDS_merged.group1.bed6.bed"
    controlA_CDS_EI_dir = "${params.editing_index_dir}/controlA_CDS_EI"
    // try orig 
    controlA_CDS_regions_bed3 = "${params.special_pipelines_dir}/Resources/KZFs/CDS/Control/human_random_4339CDSregions.merged.bed3.bed"
    controlA_CDS_EI_orig_dir = "${params.editing_index_dir}/controlA_CDS_EI_orig2"

    controlB_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/Control/human_random400Genes_CDS_merged.group2.bed6.bed"
    controlB_CDS_EI_dir = "${params.editing_index_dir}/controlB_CDS_EI"

    controlC_CDS_regions = "${params.special_pipelines_dir}/Resources/KZFs/CDS/Control/human_random400Genes_CDS_merged.group3.bed6.bed"
    controlC_CDS_EI_dir = "${params.editing_index_dir}/controlC_CDS_EI"


}