params.Replace_parentPath = 'Replace_parentPath'
params.levanon_lab_pipelines_dir = "${params.Replace_parentPath}/RNA_Editing_Pipeline"
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/nextflow.base.dockers.config"
params.special_pipelines_dir = "${params.Replace_parentPath}/KZFs_pipeline/"
