params.my_NextflowDir = '/home/alu/twerski/Scripts/Nextflow/'
params.levanon_lab_pipelines_dir = "${params.my_NextflowDir}Levanon_lab_NEXTFLOW_PIPELINE"
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/nextflow.base.dockers.config"
params.special_pipelines_dir = "${params.my_NextflowDir}/Special_pipelines/"
