includeConfig '../nextflow_special_pipelines.base.docker.config'
includeConfig "${params.levanon_lab_pipelines_dir}/Configs/Docker/SubP_configs/editing_index.nf.docker.config"


params {
// get file names for plus and minus versions
// you need to have two regions and two refseq files.
//  the name of each file should contain word from plusMinusWords describe the strand of the file 
// the pipeline will access the opoosite strand file by replacing the word to the second option 
// for example: you give the file 
    one_regions_file=""
    one_refseq_file=""


    plusMinusWords=["plus", "minus"]

    Eindex_result_dir="${launchDir}/Editing_index/"
    indir=''
// !!! remeber to set your profile for othe params for editing_index.nf.docker.config
// index run params: 
    PMkeep_cmpileup=false
    PMgenome_file=''
    PMbams_suffix='.Aligned.sortedByCoord.out.bam'
    PMper_region_output=false
    PMper_sample_output=false
    PMsnp_file=''
    PMexpression_file=''
    // index will run only on path that contain that string -
    PMmust_contain=''

}

process {
    withName:create_dirs{
        container = 'frolvlad/alpine-bash:latest'
    }
}
