
params {
    singleEnd=false
    // prarms for finding the input fastq
    indir=''
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"

    compress_command = "gzip -9"
}


process {
    withName:compress_files{
    container = 'frolvlad/alpine-bash:latest'
    }
}


includeConfig '../nextflow.base.dockers.config'
