
includeConfig '../nextflow.base.dockers.config'


params {
    bams_dir =''
    Eindex_result_dir="${launchDir}/AEI/"
    // choose limitations of RNAEditingIndex runing in parallel
    max_fork_RNAEditingIndex=1
    //run in lite version - use local resources files instead of inner docker's
    // currently not supporting run on full docker (docker_lite=false)
    docker_lite=true
    stranded=false
    singleEnd=false
    keep_cmpileup=false
    genome_file=''
    bams_suffix='.Aligned.sortedByCoord.out.bam'
    per_region_output=false
    per_sample_output=false
    regions=''
    mergeBED_forEI=false
    snp_file=''
    refseq_file=''
    expression_file=''
    // index will run only on path that contain that string -
    must_contain=''
    which_RNAEditingIndex='RNAEditingIndex'
    editingIndex_additional_params = ''
    alu_index=true
    // if U want to run on many regions files - set to true and set regions to be a pattern like '/path/to/files/*.bed'
    // if U run regions='/path/to/files/*.bed' ; nextflow -c .. run .. --regions "$regions" >>> remember to use qutas 
    run_on_multiRegionsFiles = false
    }

// editing index docker 
params.use_editing_index_hub_image = true
params.editing_index_docker_image = params.use_editing_index_hub_image ? 'levanonlab/rna-editing-index-lite:1.0' : 'local/rna-editing-index:lite'

params.EI_Docker_file = params.docker_lite ? "${params.levanon_lab_pipelines_dir}/Resources/Editing_index/Docker/Lite/Dockerfile" : ''

profiles{
    hg38 {
        params.profile_selected = "hg38"
        // curently not supporting using built-in files for genome annotation
        params.genome = 'UserProvided' 
        params.genome_file = 'RelpaceGenomePath/HomoSapiens/ucscHg38Genome.fa' 
        params.refseq_file = "ReplaceRefseqFPath/HomoSapiens/ucscHg38RefSeqCurated.bed.gz" 
        params.expression_file = "ReplaceExpressionPath/HomoSapiens/ucscHg38GTExGeneExpression.bed.gz"
        params.snp_file = "ReplaceSNPPATH/HomoSapiens/ucscHg38CommonGenomicSNPs150.bed.gz"
        params.regions =  params.alu_index ? "${params.levanon_lab_pipelines_dir}/Resources/Editing_index/AEI/ucscHg38Alu.bed.gz" : ''
    }
    mm10 {
        params.profile_selected = "mm10"
        params.genome = 'UserProvided'        
        params.genome_file= 'RelpaceGenomePath/MusMusculus/ucscMm10Genome.fa'
        params.refseq_file = "ReplaceRefseqFPath/MusMusculus/ucscMM10RefSeqCurated.bed.gz"
        params.expression_file = "ReplaceExpressionPath/MusMusculus/ucscMM10GTExGeneExpression.bed.gz" 
        params.snp_file = "ReplaceSNPPATH/MusMusculus/ucscMM10CommonGenomicSNPs142.bed.gz"

        params.regions =  params.alu_index ? 'ReplaceRegionsPath/MusMusculus/ucscMM10SINE_B1_B2.bed.gz' : ''
    }
    standard {
        params.profile_selected = ""
    }

} 


process {
    withName:RUN_EINDEX{
    container = params.editing_index_docker_image
    }    
    withName:RUN_EINDEX_multi_regions{
    container = params.editing_index_docker_image
    }
}



