includeConfig '../nextflow.base.dockers.config'


params {
    /*
    mandatory pramters for this pipeline is indir of fastq files
    */
    indir=''
    // recomended to set the prameters - out directory
    singleEnd = false
    //optional prameters depend on your files structure:
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"
    //extra parameters
    multiqc_results_dir="${launchDir}/FASTQC"

    which_fastqc='fastqc'
    which_multiqc='multiqc'
}


// get dirname for mounting
// multiqc_result_dirname = (new File(params.multiqc_results_dir)).parentFile


process {
    withName:FASTQC{
    container = 'staphb/fastqc:0.12.1'
    }
    withName:MULTIQC{
    container = 'staphb/multiqc:1.8'
    // containerOptions = "--volume ${multiqc_result_dirname}:${multiqc_result_dirname}"
    }
}

