includeConfig '../nextflow.base.dockers.config'


params{
    
    singleEnd=false
    // ################### 
    // prarams for finding the input fastq
    indir=''
    fastq_suffix='fastq'
    // in case of single-end with no pattern of read1/2 in the file name
    no_mates = params.singleEnd ? true : false 
    mates_patt = params.no_mates ? '' : '_{1,2}'
    fastq_pat="${params.indir}/*${params.mates_patt}.${params.fastq_suffix}"
    salmon_outdir="${launchDir}/SALMON"

    //prams of salmon index
    salmon_lib_type = 'A'


    // salmon output the result of every sample in differet dir, if wil set to true it will move the result all the files(.sf) to an shared dir 
    move_out_salmon_files = true
    // if you set move_out_salmon_files-true, remove the not .sf files
    keep_other_files = false
    // 
    copy_instead_of_move = false
    salmon_max_workers=5
    salmon_threads = 5
    extra_params = ''
    run_salmon_summary=false

    which_salmon='salmon'
    which_salmon_summary="Rscript ${params.levanon_lab_pipelines_dir}/Resources/roni_uniteSalmonFIles.R"

}

profiles{
    hg38 {
        params.profile_selected = "hg38"
        params.transcripts_index = "ReplaceSalmonPath/HomoSapiens/hg38"
        params.tx2id_geneMap = "ReplaceGenemapPath/HomoSapiens/ucscHg38RefSeqCurated.tsv"
    }
    mm10 {
        params.profile_selected = "mm10"
        params.transcripts_index = "ReplaceSalmonPath/MusMusculus/mm10/"
        params.tx2id_geneMap = "ReplaceGenemapPath/MusMusculus/ucscMM10RefSeqCurated.tsv"
    }
    standard {
        params.profile_selected = ""
    }
}

process {
    withName:CREATE_OUT_DIR{
        container = 'frolvlad/alpine-bash:latest'
    }
    withName:SALMON_QUANT{
        container = 'combinelab/salmon:1.10.2'
    }
}

