params{
    which_prefetch = 'prefetch'
    which_fasterq_dump = 'fasterq-dump'
    ACC_list=''
    sra_fastq_outdir ="${launchDir}/fastq"
    //Option to give prefetch ngc file  (.ngc) for downloading from dbGaP
    NGC=""
    prefetch_extra_p = ""
    // when downloading paired samples, somtimes there is third file for unpaired reads - flag to delete it
    rm_unpairedFile=true
    clean_genome=false
}





process {
    withName:download_sequnetial {
        container = 'pegi3s/sratoolkit:3.0.10'
    }
    withName:extract_sra{
        container = 'pegi3s/sratoolkit:3.0.10'
    }
}

includeConfig '../nextflow.base.dockers.config'
