params{
    which_prefetch = 'prefetch'
    which_fasterq_dump = 'fasterq-dump'
    ACC_list=''
    sra_fastq_outdir ="${launchDir}/fastq"
    //Option to give prefetch ngc file  (.ngc) for downloading from dbGaP
    NGC=""
    prefetch_extra_p = ""
    // when downloading paired samples, somtimes there is third file for unpaired reads - flag to delete it
    rm_unpairedFile=true
    clean_genome=false
}


// cant use that because it assuming parent file exist
// fastq_out_dirname = (new File(params.sra_fastq_outdir)).parentFile


// remove the last 

process {
    withName:download_sequnetial {
        container = 'pegi3s/sratoolkit:3.0.10'
        // container = 'pegi3s/sratoolkit:3.0.5'
        // containerOptions = "--volume ${fastq_out_dirname}:${fastq_out_dirname}"
    }
    withName:extract_sra{
        container = 'pegi3s/sratoolkit:3.0.10'
        // container = 'pegi3s/sratoolkit:3.0.5'
        // containerOptions = "--volume ${fastq_out_dirname}:${fastq_out_dirname}"
    }
}

includeConfig '../nextflow.base.dockers.config'
